<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="accountEndpoint" value="https://mydb002807.documents.azure.com:443" />
        <add key="accountKey" value="V6yuNPL6rs4DG4CGf5lAitJR8hmSmdJexfbbSFRf5JbB14hMP7ziNCfUXnNFULWwO6W6eURKGZxdE1yjzciXhQ==" />
    </appSettings>
</configuration>
